Host *
	StrictHostKeyChecking no

Host 192.168.1.10* 192.168.1.11*
  User subjects 

Host redwood
  HostName 128.114.97.45
  User leeps
  IdentityFile ~/.ssh/leeps

Host 128.114.97.45
  User leeps
  IdentityFile ~/.ssh/leeps

Host leeps.ucsc.edu
  User leeps
  IdentityFile ~/.ssh/leeps

Host econlab.ucsc.edu
  User leeps

Host econ-valve.ucsc.edu
  User rstudio
  Port 2222

